.topnav {
    background-color: purple;
    overflow: hidden;
}


.topnav a {
    float: left;
    color:purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color:black;
    color: white;
}

.topnav a:active {
    background-color:black;
    color: white;
}